<!DOCTYPE html>
<html>
<head>
    <title>CSRF Example 2</title>
    <script>

        async function changePassword() {

            let pass1 = document.getElementById("pass1").value;
            let pass2 = document.getElementById("pass2").value;

            const response = await fetch("/api/v1/change-password", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({ password1: pass1, password2: pass2 }),
            });

            const content = await response.json();

            if (content["result"] == "success") {
                document.getElementById("result").innerText = "You successfully changed your password.";
            } else {
                document.getElementById("result").innerText = "Input mismatch.";
            }

        }
    </script>
</head>
<body>
    <input type="password" id="pass1" /><br/>
    <input type="password" id="pass2" /><br/>
    <button onclick="changePassword()">Change Password</button><br/>
    <span id="result"></span>
</body>
</html>
