<html>
    <head>
        <title>Unrestricted File Upload</title>
    </head>
    <body>
        <h3>File Upload</h3>
        <div>
            <form action="/" method="POST" enctype="multipart/form-data">
                <input type="file" name="fileInput" /><br/>
                <input type="submit" value="Upload" /><br/>
            </form>
        </div>
        {% if upload_path %}
            <div>
                <p>{{ upload_path }}</p>
            </div>
        {% endif %}
    </body>
</html>