<html>
    <head>
        <title>CSRF</title>
    </head>
    <body>
        <h3>Change your password</h3>
        <form action="/" method="POST">
            <input type="password" name="password1" placeholder="Type new password" /><br/>
            <input type="password" name="password2" placeholder="Type same again" /><br/>
            <input type="submit" value="Change Password"/><br/>
        </form>
        {% if result %}
            <p>{{ result }}</p>
        {% endif %}
    </body>

</html>